body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.intro {
  flex: 2;
}

.profile-picture {
  flex: 1;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

h1, h2, h3 {
  margin: 10px 0;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills span {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: #000;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.game-container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

.choices {
  margin: 20px 0;
}

.button {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(-45deg, #4a90e2, #d0021b);
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.button:hover {
  background: linear-gradient(-45deg, #d0021b, #4a90e2);
  transform: scale(1.1);
}

#result {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}
